---
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro";
import {
  CodeIcon,
  Technologies,
  UserCode,
  Briefcase,
  GraduationCap,
  Medal,
} from "../components/icons/indexIcons";
import Projects from "../components/Projects.astro";
import Habilities from "../components/Habilities.astro";
import AboutMe from "../components/AboutMe.astro";
import Formacion from "../components/Formacion.astro";
import Button from "../components/Button.astro";
---

<Layout title="Portafolio Personal">
  <main>
    <SectionContainer
      class="flex flex-col items-center justify-between w-full px-4 py-20 sm:px-10 sm:flex-row md:px-10"
    >
      <div class="w-full md:px-8 max-w-[800px] text-center md:text-left">
        <div class="typewriter-container">
          <h3
            id="typewriter-text"
            class="md:text-5xl font-extrabold py-3 animate-fade-in-down"
          >
          </h3>
          <span id="cursor" class="typewriter-cursor">|</span>
        </div>

        <h2 class="text-2xl md:text-3xl font-light py-3 animate-fade-in-up">
          Estudiante en la carrera de Ingeniería De Software. Me gusta trabajar
          en proyectos fullstack para distintos dispositivos.
        </h2>
        <div class="flex w-full justify-center md:justify-start py-5 gap-11">
          <a
            class="hover:scale-110 transition duration-300"
            href="https://www.linkedin.com/in/ismael-sailema-a04089287"
            target="_blank"
          >
            <img
              class="rounded-full w-12 h-12 animate-fade-in-up"
              src="/portafolio-personal/linkedin.png"
              alt="logo_linkedin"
            />
          </a>
          <a
            class="hover:scale-110 transition duration-300"
            href="https://github.com/IsmaelSailema20"
            target="_blank"
          >
            <img
              class="rounded-full w-12 h-12 animate-fade-in-up"
              src="/portafolio-personal/github.png"
              alt="logo_github"
            />
          </a>
        </div>
      </div>
      <img
        class="rounded-full h-72 md:h-96 lg:h-96 animate-fade-in w-72 md:w-96 lg:w-96 overflow-x-hidden mt-8 md:mt-0"
        src="/portafolio-personal/IsmaelSailemaPerfil.jpeg"
        alt="imagen-logo-principal"
      />
    </SectionContainer>
    <SectionContainer class="my-16 mx-[72px]" id="formacion">
      <h2
        class="flex items-center mb-6 text-4xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        <Briefcase />
        Educación y Formación
      </h2>
      <div class="flex items-center justify-center gap-8">
        <Button icon={GraduationCap} text="Educación" id="btn-educacion" />
        <Button icon={Medal} text="Cursos" id="btn-cursos" />
      </div>
      <Formacion />
    </SectionContainer>
    <SectionContainer class="my-16 mx-[72px]" id="proyectos">
      <h2
        class="flex items-center mb-6 text-4xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        <CodeIcon />
        Proyectos Realizados
      </h2>
      <Projects />
    </SectionContainer>
    <SectionContainer class="my-16 pt-16 mx-[72px]" id="habilidades">
      <h2
        class="flex items-center mb-6 text-4xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        <Technologies class="size-9" />
        Habilidades
      </h2>
      <Habilities />
    </SectionContainer>
    <SectionContainer class="my-8 pt-16 mx-[72px]" id="sobre_mi">
      <h2
        class="flex items-center py-2 text-4xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        <UserCode class="size-8" />
        Sobre mi
      </h2>
      <AboutMe />
    </SectionContainer>
  </main>
</Layout>

<style>
  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fade-in-down {
    from {
      opacity: 0;
      transform: translateY(-30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fade-in-up {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-in {
    animation: fade-in 1.2s ease-out forwards;
  }

  .animate-fade-in-down {
    animation: fade-in-down 1.2s ease-out forwards;
  }

  .animate-fade-in-up {
    animation: fade-in-up 1.2s ease-out forwards;
  }

  .typewriter-container {
    display: inline-flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
  }

  #cursor {
    font-weight: bold;
    font-size: 2.5rem;
    animation: blink 0.7s steps(2, start) infinite;
  }

  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
</style>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const textToWrite = [
      "Hola, soy Ismael Sailema",
      "Bienvenido a mi portafolio.",
    ];

    let textIndex = 0;
    let charIndex = 0;

    const typewriterTextElement = document.getElementById("typewriter-text");

    // Función para la animación de escritura
    function typeWriter() {
      if (textIndex < textToWrite.length) {
        if (charIndex < textToWrite[textIndex].length) {
          // Agregar el siguiente carácter
          typewriterTextElement !== null
            ? (typewriterTextElement.innerHTML +=
                textToWrite[textIndex].charAt(charIndex))
            : "";
          charIndex++;
          setTimeout(typeWriter, 100); // Ajusta el tiempo entre caracteres aquí
        } else {
          // Termina de escribir una línea, pasar a la siguiente
          setTimeout(() => {
            charIndex = 0;
            textIndex++;
            typewriterTextElement !== null
              ? (typewriterTextElement.innerHTML = "")
              : ""; // Borrar el contenido para escribir la siguiente línea
            typeWriter();
          }, 2000); // Pausa entre líneas
        }
      } else {
        // Repetir la animación desde el principio
        textIndex = 0;
        charIndex = 0;
        setTimeout(typeWriter, 1000);
      }
    }

    // Iniciar la animación de escritura
    typeWriter();
  });
</script>
