---
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro";
import {
  CodeIcon,
  Technologies,
  UserCode,
  Briefcase,
  GraduationCap,
  Medal,
} from "../components/icons/indexIcons";
import Projects from "../components/Projects.astro";
import Habilities from "../components/Habilities.astro";
import AboutMe from "../components/AboutMe.astro";
import Formacion from "../components/Formacion.astro";
import Button from "../components/Button.astro";
import ContactForm from "../components/ContactForm.astro";
import "../styles/global.css";
import HeroSection from "../components/HeroSection.astro";
---

<Layout title="Portafolio Personal">
  <main class="py-5 md:py-12">
    <SectionContainer
      id="top"
      class="mb-16 md:my-32 flex flex-col items-center justify-between w-full max-w-screen-xl mx-auto px-4 md:py-10 sm:px-10 md:flex-row md:px-5"
    >
      <HeroSection />
    </SectionContainer>

    <SectionContainer
      id="formacion"
      class="py-[110px] my-[-110px] max-w-screen-xl mx-auto px-4"
    >
      <h2
        class="flex items-center mb-6 text-4xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        <Briefcase />
        Educación y Formación
      </h2>
      <div class="flex items-center justify-center gap-8">
        <Button icon={GraduationCap} text="Educación" id="btn-educacion" />
        <Button icon={Medal} text="Cursos" id="btn-cursos" />
      </div>
      <Formacion />
    </SectionContainer>

    <SectionContainer
      class="max-w-screen-xl mx-auto px-4 py-[110px] my-[-110px]"
      id="proyectos"
    >
      <h2
        class="flex items-center mb-6 text-4xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        <CodeIcon />
        Proyectos Realizados
      </h2>
      <Projects />
    </SectionContainer>

    <SectionContainer
      class="py-[110px] my-[-110px] max-w-screen-xl mx-auto px-4"
      id="habilidades"
    >
      <h2
        class="flex items-center mb-6 text-4xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        <Technologies class="size-9" />
        Habilidades
      </h2>
      <Habilities />
    </SectionContainer>

    <SectionContainer
      class="py-[110px] my-[-110px] max-w-screen-xl mx-auto px-4"
      id="sobre_mi"
    >
      <h2
        class="flex items-center py-2 text-4xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        <UserCode class="size-8" />
        Sobre mí
      </h2>
      <AboutMe />
    </SectionContainer>

    <SectionContainer
      class="py-[110px] my-[-110px] max-w-screen-xl mx-auto px-4"
      id="contacto"
    >
      <h2
        class="flex items-center mb-6 text-4xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        <UserCode />
        Contacto
      </h2>
      <ContactForm />
    </SectionContainer>
  </main>
</Layout>
