---
import { Facebook, Instagram, Email } from "./icons/indexIcons.ts";
---

<div
  class="flex flex-col md:flex-row justify-between w-full items-center px-4 md:px-6 py-10"
>
  <div class="w-full">
    <p class="text-xl font-light py-4 pl-6 animate-fade-in-up text-pretty">
      Soy un apasionado del desarrollo de software actualmente estudiando en la
      universidad, donde he trabajado en diversos proyectos que me han permitido
      aplicar mis conocimientos en tecnologías frontend y backend. Aunque no
      tengo experiencia laboral formal, he complementado mi formación académica
      con estudios autodidactas, completando cursos en línea y manteniéndome al
      día con las últimas tendencias en la industria. Estoy entusiasmado por
      seguir creciendo como desarrollador y estoy siempre en busca de nuevos
      desafíos que me permitan aprender y mejorar.
    </p>
    <div class="flex w-full justify-center gap-6 p-10">
      <a
        href="https://mail.google.com/mail/u/0/#inbox?compose=GTvVlcSGLrRVZlNKqPjcjKDbbRcJVxNcrKcBchVhTHKjvTLlqQvzVmsmxXhwGrwPDcvHnPHkppbbX"
        target="_blank"
        ><Email
          class="size-11 hover:scale-125 transition duration-500"
          alt="Icono de email"
        /></a
      >
      <a href="https://www.facebook.com/ismael.sailema.7/" target="_blank"
        ><Facebook class="size-11 hover:scale-125 transition duration-500" /></a
      >
      <a
        href="https://www.instagram.com/_.alexxd13._?igsh=MWlneGdnaGkwemZ2Zw=="
        target="_blank"
        ><Instagram
          class="size-11 hover:scale-125 transition duration-500"
        /></a
      >
    </div>
  </div>
  <img
    class="rounded-full animate-fade-in w-full overflow-x-hidden"
    src="/logo.png"
    alt="imagen-personal"
  />
</div>
