---
import { Facebook, Instagram, Email } from "./icons/indexIcons.ts";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div class="w-full">
    <p
      class="text-xl font-light animate-fade-in-up leading-relaxed tracking-wide pb-4"
    >
      Soy un apasionado del <span class="text-[#2c67c6] font-semibold"
        >desarrollo de software y actualmente me encuentro estudiando la universidad</span
      >, donde he trabajado en diversos proyectos que me han permitido aplicar
      mis conocimientos en <span class="text-[#2c67c6] font-semibold"
        >tecnologías frontend y backend.</span
      >
    </p>
    <p
      class="text-xl font-light animate-fade-in-up leading-relaxed tracking-wide pb-4"
    >
      Aunque no tengo experiencia laboral formal, he complementado mi formación
      académica con <span class="text-[#2c67c6] font-semibold"
        >estudios autodidactas, completando cursos en línea y
        presenciales y además con la participación en varios proyectos de desarrollo </span
      >, manteniéndome al día con las últimas tendencias en la industria del software.
      <p
        class="text-xl font-light animate-fade-in-up leading-relaxed tracking-wide pb-4"
      >
        Estoy entusiasmado por seguir creciendo como desarrollador y estoy
        siempre en busca de nuevos desafíos que me permitan aprender y mejorar.
      </p>
    </p>
    <div class="flex w-full justify-center gap-6 p-10">
      <a
        href="https://mail.google.com/mail/u/0/#inbox?compose=GTvVlcSGLrRVZlNKqPjcjKDbbRcJVxNcrKcBchVhTHKjvTLlqQvzVmsmxXhwGrwPDcvHnPHkppbbX"
        target="_blank"
        ><Email
          class="size-11 hover:scale-125 transition duration-500"
          alt="Icono de email"
        /></a
      >
      <a href="https://www.facebook.com/ismael.sailema.7/" target="_blank"
        ><Facebook class="size-11 hover:scale-125 transition duration-500" /></a
      >
      <a
        href="https://www.instagram.com/_.alexxd13._?igsh=MWlneGdnaGkwemZ2Zw=="
        target="_blank"
        ><Instagram
          class="size-11 hover:scale-125 transition duration-500"
        /></a
      >
    </div>
  </div>
  <img
    class="rounded-full animate-fade-in w-full overflow-x-hidden"
    src="/portafolio-personal/logo.png"
    alt="imagen-personal"
  />
</article>
