<footer class="w-full shadow-xl p-8">
  <p
    class="block mb-4 text-sm text-center font-bold text-black dark:text-slate-200 md:mb-0 border-t border-black dark:border-slate-200 mt-4 pt-4"
  >
    Copyright © 2024 - 2025
    <a
      href="https://www.linkedin.com/in/ismael-sailema-a04089287"
      target="_blank"
      rel="noreferrer">Ismael Sailema</a
    >.
  </p>
</footer>
