---
import ButtonTheme from "./ButtonTheme.astro";
---

<header
  class="flex justify-between items-center w-full px-10 fixed top-0 z-50 shadow-lg bg-gray-50 dark:bg-gray-900
    bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(217,216,255,0.5),rgba(255,255,255,0.9))]
    dark:bg-[radial-gradient(ellipse_90%_90%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
>
  <img
    class="rounded-full w-24 h-24"
    src="/portafolio-personal/logo.png"
    alt="logo_dev"
  />
  <nav class="flex flex-row gap-x-10 px-10">
    <a
      class="text-lg font-bold hover-underline-animation text-black dark:text-white"
      href="#top">Inicio</a
    >
    <a
      class="text-lg font-bold hover-underline-animation text-black dark:text-white"
      href="#formacion">Formación</a
    >
    <a class="text-lg font-bold hover-underline-animation" href="#proyectos"
      >Proyectos</a
    >
    <a class="text-lg font-bold hover-underline-animation" href="#habilidades"
      >Habilidades</a
    >
    <a class="text-lg font-bold hover-underline-animation" href="#sobre_mi"
      >Sobre mi</a
    >
    <ButtonTheme />
  </nav>
</header>

<style>
  .hover-underline-animation {
    display: inline-block;
    position: relative;
  }

  .hover-underline-animation::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #3064b8;
    transform-origin: bottom right;
    transition: transform 0.33s ease-out;
  }

  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
</style>
