---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "@fontsource-variable/onest";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Portfolio Ismael Sailema estudiante en la carrera de ingenieria en software. Desarrollador en multiplaformas"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/portafolio-personal/iconocode.svg"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="relative text-black dark:text-white overflow-x-hidden">
    <Header />

    <slot />

    <Footer />
  </body>
</html>

<style is:global>
  :root {
    color-scheme: light dark;
    background-image: linear-gradient(
      to bottom,
      #ffffff,
      #f8f7fc,
      #f1eff9,
      #eae8f6,
      #e3e0f3
    );
  }
  html {
    font-family: "Onest Variable", system-ui, sans-serif;
    scroll-behavior: smooth;
  }
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    margin: 0;
    line-height: inherit;
  }
  @media (prefers-reduce-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
</style>
